.userlist {
	display: none;
}
.userlist .contenttitle {
	margin: 20px 0;
	display: inline-block;
	padding-bottom: 5px;
	padding-right: 20px;
	border-bottom: 4px solid #FB9337;
}
.userlist .usertable {
	width: 100%;
	border-collapse: collapse;
}
.usertable .con0 {
	background-color: #fff;
}
.usertable .con1 {
	background-color: #fcfcfc;
}
.usertable th, .usertable td {
	padding: 7px 10px;
	vertical-align: middle;
	text-align: left;
	line-height: 21px;
	color: #333;
	border: 1px solid #ddd;
}
.userlist .tableoptions {
	padding: 8px;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	border-bottom: 0;
}
.tableoptions button {
	padding: 7px 10px;
	font-size: 11px;
	color: #666;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.tableoptions button:hover {
	background-color: #eee;
	cursor: pointer;
}

.adduser {
	display: none;
}
.adduser form p {
	padding: 20px 0;
}
.adduser form label {
	display: inline-block;
	width:20%;
	text-align: right;
}
.adduser form span {
	display: inline-block;
	width: 70%;
	padding-left: 2%;
}
.adduser form input {
	padding: 7px 10px;
}
.adduser .submitButton {
	margin-left: 22%;
}
.adduser .submitButton a {
	display: inline-block;
	margin-right: 20px;
	padding: 6px 5px;
	width: 80px;
	text-align: center;
	border: none;
	font-size: 14px;
	color: #fff;
	background-color: #FB9337;
	border-radius: 2px;
}
.adduser .submitButton a:hover {
	background-color: #485B79;
}